<!DOCTYPE html>
<html ng-app="ConnectedRepGen" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class="row-fluid">
            <div id="repGenController" ng-controller="RepGenController" class="hero-unit span10 offset1">
                <h1>Code: {{SessionId}}</h1>
                <p>
                    Open up app on the mobile device and enter in the code to link to this repgen.
                </p>
                <div ng-show="memberDetails">
                    <fieldset>
                        <legend>Name</legend>
                        <h3>{{memberDetails.FirstName}} {{memberDetails.LastName}}</h3>
                        <div class="control-group">
                            <label class="control-label">Birth Date:</label>
                            <div class="controls">
                                {{memberDetails.BirthDate | date:'shortDate'}}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Address</legend>
                        <address>
                            {{memberDetails.Address.AddressLine1}}<br />
                            <span ng-show="memberDetails.Address.AddressLine2">{{memberDetails.Address.AddressLine2}}<br />
                            </span>
                            {{memberDetails.Address.City}}, {{memberDetails.Address.State}} {{memberDetails.Address.PostalCode}}<br />
                        </address>
                    </fieldset>
                    <fieldset>
                        <legend>Contact Information</legend>
                        <div class="control-group">
                            <label class="control-label">Email:</label>
                            <div class="controls">
                                {{memberDetails.Contact.EmailAddress}}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Phone Number:</label>
                            <div class="controls">
                                {{memberDetails.Contact.PhoneNumber}}
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-large" ng-click="stop()">Stop</button>
                        <button class="btn btn-large" ng-click="start()">Start</button>
                        <button class="btn btn-large" ng-click="finish()">Finish</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    
<script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="lib/angular.js"></script>
    <script src="js/app.js"></script>

    <script src="lib/jquery.json-2.4.min.js"></script>
    <script type="text/javascript">

        (function () {
            if (window.attachEvent) {
                window.attachEvent('onmessage', message);
            }
            else {
                window.addEventListener("message", message, false);
            }
            function message(event) {
                var messageParams = $.parseJSON(event.data);

                var scope = angular.element($("#repGenController")).scope();
                scope.$apply(function () {
                    scope.startSession(messageParams);
                })
            }
        })();

    </script>

</body>
</html>
